<mat-toolbar color="accent">
    <span class="title-center">{{childSelectedTeam.teamName}} members</span>
  </mat-toolbar>
  
  <div class="table">
    <mat-table matSort [dataSource]="dataSource" class="mat-cell">
      <ng-container matColumnDef="id">
        <mat-header-cell mat-sort-header *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="username">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Username</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.username }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.email }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="surname">
        <mat-header-cell *matHeaderCellDef>Surname</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.surname }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
            <mat-icon (click)="openAddUserDialog()">add</mat-icon>
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index">
            <mat-icon color="warn" aria-label="Delete" (click)="openDeleteDialog(row)">delete</mat-icon>
        </mat-cell>        
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        style="cursor: pointer;"
        *matRowDef="let row; columns: displayedColumns">
      </mat-row>
    </mat-table>
    <mat-paginator [length]="20" [pageSize]="6" [pageSizeOptions]="[3,6,9,12]"></mat-paginator>
  </div>