mat-cell, mat-header-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;  
  align-items: center;    
  width: 100%;
}

.title-center {
  text-align: center; 
  font-size: 24px;   
}

mat-header-cell {
  background-color: red;
}

mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
  flex: 0 0 10%;
}

mat-cell:nth-child(2),
mat-header-cell:nth-child(2) {
  flex: 0 0 20%;
}

mat-cell:nth-child(3),
mat-header-cell:nth-child(3) {
  flex: 0 0 20%;
}

mat-cell:nth-child(4),
mat-header-cell:nth-child(4) {
  flex: 0 0 15%;
}

mat-cell:nth-child(5),
mat-header-cell:nth-child(5) {
  flex: 0 0 15%;
}

mat-cell:nth-child(6),
mat-header-cell:nth-child(6) {
  flex: 0 0 10%;
}

mat-cell:nth-child(7),
mat-header-cell:nth-child(7) {
  flex: 0 0 10%;
}

mat-cell:nth-child(8),
mat-header-cell:nth-child(8) {
  flex: 0 0 10%;
}

mat-icon {
  font-size: 20px; 
  transition: transform 0.2s;
  margin: 7px;
}

mat-icon:hover {
  transform: scale(1.1);
}

mat-header-row{
  background-color: #ff4d4d;
  color: white;
  border: none;
}

mat-cell{
  border: 1px solid #ddd;
}

.table{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  box-shadow: 4px 4px 4px 4px rgba(0.1, 0.1, 0.1, 0.1);
  border-radius: 20px;
}

.filter-field {
  display: flex;
  justify-content: flex-end;
}

.filter-field mat-form-field {
  margin: 20px 30px 0 0;
}

mat-paginator {
  margin-top: 24px;
}
