mat-dialog-actions button{
    padding: 12px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 6px;
    background-color: #ff4d4d;
    margin: 7px;
  }

  mat-dialog-actions button:hover{
    padding: 12px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 6px;
    background-color: pink;
    margin: 7px;
  }